
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 440px;
    background-color:#8bac0f;
    color: #e4e4e4;
    font-family: Tahoma;
    font-size: 16px;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 440px;
  height: 10%;
  background-color:#0f380f;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

li {
  list-style: none;
  float: left;
  font-size: 1.8rem;
}

li a {
  color: #ffffff;
  padding: 16px;
}

li a:hover{
  color: #c6c6c6;
}

section {
  padding: 30px;
}

section:first-child {
  padding-top: 70px;
}

#welcome-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 30vh;
}

#welcome-section h1 {
  font-size: 4rem;
  font-weight: bold;
}

#welcome-section p {
  font-size: 2rem;
}

h2 {
  text-decoration: underline;
}

#projects {
  background-color:#306230;
  min-width: 400px;
}

#project-grid {
  display: grid;
  grid-template-columns: 45vw 45vw;
  grid-template-rows: auto;
  gap: 10px;
}

.project-container {
  padding: 10px;
  border: 1px solid black;
  max-width: 40vw;
  min-width: 225px;
  background-color:#8bac0f;
  border-radius: 10px;
  text-align: center;
}

.project-container a{
  text-decoration: none;
}

.project-image {
  max-width: 38vw;
  min-width: 220px;
  border: 1px solid black;
}

@media (max-width: 500px){
  #project-grid {
    grid-template-columns: 85vw;
  }

  .project-container {
    max-width: 80vw;
  }
}
